@model CognizantQLESS.Core.Models.TransportCard

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-6">
        <div class="window-wrapper">
            <h4 class="window-heading">Details</h4>

            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.SerialNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.SerialNumber)
                </dd>

                <dt class="col-sm-6">
                    Type
                </dt>
                <dd class="col-sm-6">
                    @if (Model.IsDiscountType)
                    {
                        <span>Discount</span>
                    }
                    else
                    {
                        <span>Regular</span>
                    }
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Load)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Load)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PurchaseDate)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PurchaseDate)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.DiscountRegistrationDate)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.DiscountRegistrationDate)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.LastUsedDate)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.LastUsedDate)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.ExpirationDate)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.ExpirationDate)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.SeniorCitizenControlNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FormattedSeniorCitizenControlNumber)
                </dd>

                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.PWDIdNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.FormattedPWDIdNumber)
                </dd>
            </dl>
        </div>
    </div>
</div>
